In [1]:
pip install fastavro

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: fastavro in /usr/local/lib/python3.8/dist-packages (1.7.2)

In [5]:
import pandas as pd
from fastavro import writer, parse_schema

# Leemos el csv mediante pandas
df = pd.read_csv('2009_cortado.csv')
# Limpiamos los datos (strip a los códigos postales) y nos quedamos con Alemania
df['DEST'] = df['DEST'].str.strip()
df['DEST']

0      EWR
1      IAD
2      DCA
3      EWR
4      EWR
      ...
994    OGG
995    OGG
996    OGG
997    OGG
998    OGG
Name: DEST, Length: 999, dtype: object

In [8]:
filtro = df['DEST']=="DCA"
df = df[filtro]

# 1. Definimos el esquema
schema = {
    'name': '2009_cortado',
    'namespace' : 'Carlos G',
    'type': 'record',
    'fields': [
        {'name': 'FL_DATE', 'type': 'string'},
        {'name': 'OP_CARRIER', 'type': 'string'},
        {'name': 'OP_CARRIER_FL_NUM', 'type': 'int'},
        {'name': 'ORIGIN', 'type': 'string'},
        {'name': 'DEST', 'type': 'string'},
        {'name': 'CRS_DEP_TIME', 'type': 'int'}
    ]
}
df

,FL_DATE,OP_CARRIER,OP_CARRIER_FL_NUM,ORIGIN,DEST,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,TAXI_OUT,WHEELS_OFF,...,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,AIR_TIME,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,Unnamed: 27
2,2009-01-01,XE,1207,EWR,DCA,1100,1059.0,-1.0,20.0,1119.0,...,70.0,62.0,36.0,199.0,NaN,NaN,NaN,NaN,NaN,NaN
8,2009-01-01,XE,1215,EWR,DCA,1715,1710.0,-5.0,28.0,1738.0,...,83.0,73.0,41.0,199.0,NaN,NaN,NaN,NaN,NaN,NaN
9,2009-01-01,XE,1217,EWR,DCA,1300,1255.0,-5.0,15.0,1310.0,...,68.0,61.0,39.0,199.0,NaN,NaN,NaN,NaN,NaN,NaN
11,2009-01-01,XE,1219,EWR,DCA,2135,2131.0,-4.0,21.0,2152.0,...,77.0,64.0,40.0,199.0,NaN,NaN,NaN,NaN,NaN,NaN
12,2009-01-01,XE,1220,CLE,DCA,1905,1855.0,-10.0,10.0,1905.0,...,80.0,66.0,51.0,310.0,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
schemaParseado = parse_schema(schema)

# 2. Convertimos el Dataframe a una lista de diccionarios
records = df.to_dict('records')

# 3. Persistimos en un fichero avro
with open('2009_cortado.avro', 'wb') as f:
    writer(f, schemaParseado, records)

<ipython-input-11-2dc498fc6d69>:4: FutureWarning: Using short name for 'orient' is deprecated. Only the options: ('dict', list, 'series', 'split', 'records', 'index') will be used in a future version. Use one of the above to silence this warning.
  records = df.to_dict('record')